* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4249ed;
}

#toggle-btn,
.menu a {
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.menu a {
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  font-size: 22px;
  color: #4249ed;
  text-decoration: none;
  bottom: 30px;
  right: 30px;
  transition: 0.5s;
}

#toggle-btn {
  background-color: #0f1730;
  color: #ffffff;
  height: 80px;
  width: 80px;
  border: none;
  font-size: 40px;
  bottom: 15px;
  right: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.active {
  transform: rotate(180deg);
}